body {
  color: white;
  background-color: black;
}

a {
  color: #b3b3b3;
  text-decoration: none;
}

#main {
  display: flex;
  height: 100%;
}

#left {
  min-width: 300px;
}

#left li {
  margin: 15px;
}

#activity {
  width: 300px;
  border: 1px solid red;
}
