.large-card {
  background-image: linear-gradient(153deg, #592ef1, #877fe7);
  width: 444px;
  height: 282px;
  border-radius: 5px;
  margin-right: 13px;
}

.largecard-artistname {
  font-size: 16px;
  color: #ffffff;
  padding-right: 3px;
}

.largecard-trackname {
  font-size: 16px;
  color: #b3b3b3;
  padding-left: 3px;
  padding-bottom: 10px;
}

.track-info {
  width: 390px;
  height: 59px;
  overflow: hidden;
  padding: 21px;
  padding-top: 60px;
}

.largecard-playlistinfo {
  font-size: 32px;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 21px;
  padding-bottom: 28px;
}

.largecard-totaltracks {
  padding-left: 21px;
}
