.card {
  width: 180px;
  height: 260px;
  background-color: #171717;
  padding: 18px;
  color: white;
  border-radius: 5px;
  border: 5px solid white;
}

.card-highlighted {
  border: 5px solid purple;
}

.card:hover {
  background-color: #282828;
  color: white;
}

.playlist-img {
  width: 100%;
  margin-bottom: 12px;
}

.card-artist {
  color: grey;
  font-size: 13px;
  font-weight: bold;
}

.playlist-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* .parent {
  position: relative;
}

.parent .play-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 200ms ease-in-out,
    transform 200ms ease-in-out;
}

.parent:hover .play-btn {
  opacity: 1;
  transform: translateY(0);
} */

/* // doug code // */
