body {
}
.main-header {
  width: 1495px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding-top: 20px;
}

.arrow-buttons {
  width: 60px;
  display: inline-flex;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  padding-right: 20px;
}

.button-highlighted {
  opacity: 0.6;
}
