.album-info {
  display: flex;
  background-color: #ea9525;
  width: 1495px;
  flex-wrap: wrap;
  color: white;
}

.album-image {
  padding-left: 32px;
  padding-right: 27px;
  width: 192px;
  height: 192px;
}

.album-text {
  /* font-weight: 700; */
  font-size: 0.75rem;
  align-items: flex-end;
}

.album-text p {
  margin-top: 8px;
  padding-bottom: 25px;
  font-size: 16px;
  text-transform: none;
  font-weight: normal;
}

.album-text h1 {
  text-transform: none;
  font-size: 96px;
  padding-top: 9.6px;
  padding-bottom: 13.5px;
}

.album-text h3 {
  text-transform: uppercase;
  padding-bottom: 8px;
}

.and-more-link {
  color: #b3b3b3;
}

.artist-album-info {
  font-size: 0.875rem;
}

.album-header {
  margin-top: 100px;
  display: flex;
  width: 100%;
  padding-bottom: 24px;
  align-items: flex-end;
  font-weight: bold;
}

.artist-name {
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: none;
}

.album-time-total {
  color: hsla(0, 0%, 100%, 0.7);
  text-transform: none;
}

.album-year,
.track-total {
  text-transform: none;
}

.album-content {
  background-color: black;
}

.album-buttons {
  background-image: linear-gradient(#ea9525, #000000);
  padding: 24px;
  display: flex;
}

.album-list-btn {
  margin-right: 10px;
  margin-left: 10px;
}

.album-options {
  width: 1495px;
}

.album-name {
  display: grid;
}
.track-number {
  padding-left: 13px;
}

.playlist-tracks-header {
  margin: 0 20px 16px 40px;
  padding: 8px 16px;
  color: #b3b3b3;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 66px 655px 526px 24px;
}

.album-cr {
  display: flex;
  margin-top: 32px;
}

.playlist-creator {
  padding-left: 5px;
}

.playlist-likes {
  padding-left: 5px;
}
